{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "^(mui|App|AllRoutes|cirrusTheme|createRelayEnvironment)",
    "^(components/|utils/|rtu/|vendor/|scenes/)",
    "^utils/(.*)$",
    "^[../]"
  ],
  "importOrderSeparation": true,
  "importOrderGroupNamespaceSpecifiers": true
}
